<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="#">Music Editor</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" @click="newScore">New Score</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" @click="addNote">Add Note</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" @click="clearScore">Clear Score</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Staff
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" @click="setStaff(4)">4</a>
              <a class="dropdown-item" href="#" @click="setStaff(6)">6</a>
              <a class="dropdown-item" href="#" @click="setStaff(8)">8</a>
              <a class="dropdown-item" href="#" @click="setStaff(10)">10</a>
              <a class="dropdown-item" href="#" @click="setStaff(12)">12</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <canvas ref="canvas" width="600" height="900"></canvas>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { onMounted, ref } from "vue";
import { NoteType, Note, Score } from "./score";




export default defineComponent({
  name: "App",

  noteTypes: [NoteType.Whole, NoteType.Quarter, NoteType.Eighth, NoteType.Sixteenth],

  data() {
    return {
      selectedNoteType: NoteType.Quarter,
      score: new Score(),
      staff: 4,
      curr_staff: 1,
      note_x_pos: 10,
    };
  },
  methods: {
    newScore() {
      this.score = new Score();
      this.drawScore();
    },
    addNote() {
      const note = new Note(this.note_x_pos, this.curr_staff);
      this.score.addNote(note);
      this.drawScore();
      this.note_x_pos += 20;
    },
    clearScore() {
      this.score.clear();
      this.drawScore();
    },
    setStaff(staff: number) {
      this.staff = staff;
      this.drawScore();
    },
    /*
    This drawScore method first clears the canvas, then loops through the number of staffs specified 
    by this.staff and draws five horizontal lines for each staff. Finally, it draws each of the Note objects in the notes array.

    */
    drawScore() {
      const ctx = (this.$refs.canvas as HTMLCanvasElement).getContext('2d');
      if (ctx !== null) {
        ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);

        for (let i = 0; i < this.staff; i++) {
          for (let j = 0; j < 5; j++) {
            ctx.beginPath();
            ctx.moveTo(0, 10 * j + 10 + 10 * i * 7);
            ctx.lineTo(ctx.canvas.width, 10 * j + 10 + 10 * i * 7);
            ctx.stroke();
          }
        }

        // for (const note of this.score.notes) {
        //   note.draw(ctx);
        // }
      }
    },
    mounted() {
      this.drawScore();
    },
  }
  });



</script>
